a {
  text-decoration: none;
}
span {
  padding-left: 10px;
}
.animate:hover {
  animation: rotate 3s;
}
.blacked {
  color: black;
}
.whiter {
  color: white;
}

@keyframes rotate {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(-90deg);
  }
}
