a {
  text-decoration: none;
}
span {
  padding-left: 10px;
}
.animate:hover {
  animation: rotate 3s;
}

@keyframes rotate{
    0%{
        transform:rotateZ(90deg);
    }
    100%{
        transform:rotateZ(-90deg);
    }
}