* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.main-frame-container {
  padding-top: 50px;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .light {
    background-color: #ffffff;
  }

  .dark {
    background-color: #231f20;
  }
  .main-frame-container {
    display: flex;
    height: 100vh;
  }
  .content {
    overflow: auto;
    width: 100%;
  }
  .content::-webkit-scrollbar {
  display: none;
}
}
